<a href="https://colab.research.google.com/github/selvavivaan/selvavivaan/blob/main/Diabetes_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import Libraries

In [ ]:
import pandas as pd # to read the file 
import numpy as np# to numerical opertains 
import seaborn as sns# to plot the graph as graphica representaion 
import matplotlib.pyplot as plt # to plot the graph

In [ ]:
from sklearn.model_selection import train_test_split # to train test split the datasets
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix #metrics to find the accuray of the model
from sklearn.ensemble import RandomForestClassifier # to classified the datasets

##Read the Datasets

In [ ]:
diabetes_df= pd.read_csv("diabetes.csv")#to read the dataset as use the pandas

In [ ]:
diabetes_df.head() #print the first five data

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes_df.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
diabetes_df.describe() # describe the datasets and

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
diabetes_df.shape # to find the shape of data

(768, 9)

In [ ]:
diabetes_df.info() #check the information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
column_list= list(diabetes_df.columns) # to print the features

In [ ]:
column_list

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

##NUll-Values

In [ ]:
diabetes_df.isnull() # to check the null values

     Pregnancies  Glucose  ...    Age  Outcome
0          False    False  ...  False    False
1          False    False  ...  False    False
2          False    False  ...  False    False
3          False    False  ...  False    False
4          False    False  ...  False    False
..           ...      ...  ...    ...      ...
763        False    False  ...  False    False
764        False    False  ...  False    False
765        False    False  ...  False    False
766        False    False  ...  False    False
767        False    False  ...  False    False

[768 rows x 9 columns]

In [ ]:
diabetes_df.isnull().sum() #to show the all the features isnull are not #df.dropna

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

##Divided the dataset into x and y

In [ ]:
x = diabetes_df.iloc[:,0:8] #to print the x(input_values)
y = diabetes_df.iloc[:,-1] # to print the y (output_values)

In [ ]:
x.shape # to get the size of the independent value of x

(768, 8)

In [ ]:
y.shape # to get the size of the dependent value of y

(768,)

##Train_Test_Split

In [ ]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=.2,train_size=.8,random_state=5)

In [ ]:
x_train.head() # to print the x_train_data

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
140            3      128             78  ...  21.1                     0.268   55
358           12       88             74  ...  35.3                     0.378   48
143           10      108             66  ...  32.4                     0.272   42
674            8       91             82  ...  35.6                     0.587   68
121            6      111             64  ...  34.2                     0.260   24

[5 rows x 8 columns]

In [ ]:
x_train.shape # to get the train_data_size of x

(614, 8)

In [ ]:
y_train.head() # to  print the y_train_data

140    0
358    0
143    1
674    0
121    0
Name: Outcome, dtype: int64

In [ ]:
y_train.shape # to get the train_data_size of y

(614,)

##Algorithm

In [ ]:
model=RandomForestClassifier(max_leaf_nodes=10,criterion='gini')

In [ ]:
model.fit(x_train,y_train) # to train the algorithm  ## .values.ravel() to omit the warning

RandomForestClassifier(max_leaf_nodes=10)

In [ ]:
y_predicted = model.predict(x_test) #to test the algorithm

In [ ]:
print(y_predicted)

[0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 1 0 0 1 0 0 1
 1 0 0 1 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 0 0 1 0 0
 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 0 0 1]

##Accuracy

In [ ]:
Accuracy =accuracy_score(y_predicted,y_test)

In [ ]:
print("The accuracy of the model is:",Accuracy)

The accuracy of the model is: 0.8116883116883117